Repository lsth/dwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: elisp-byte-compile, elisp-checkdoc, elisp-package-lint, trailing-whitespace, elisp-ert, lychee

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # ------------------------
      # 1. ELisp: byte-compile
      # ------------------------
      - id: elisp-byte-compile
        name: Byte-compile ELisp files
        entry: emacs --batch -Q -f batch-byte-compile
        language: system
        files: \.el$
        exclude: ^etc/(example-emacs-init|dev-emacs-init|tests)

      # ------------------------
      # 2. ELisp: checkdoc
      # ------------------------
      - id: elisp-checkdoc
        name: Check ELisp docstrings
        entry: emacs --batch -Q -l checkdoc
        language: system
        files: \.el$
        exclude: ^etc/(example-emacs-init|dev-emacs-init|tests)

      # ------------------------
      # 3. ELisp: linting
      # ------------------------
      - id: elisp-package-lint
        name: Lint ELisp package
        entry: emacs --batch -l etc/dev-emacs-init/init.el -f package-lint-batch-and-exit
        # entry: emacs --batch -Q -l package-lint -f package-lint-batch-and-exit
        language: system
        files: \.el$
        exclude: ^etc/(example-emacs-init|dev-emacs-init|tests)

      # ------------------------
      # 4. ELisp: whitespace
      # ------------------------
      - id: trailing-whitespace
        name: Check for trailing whitespace
        entry: git diff --check
        language: system
        files: \.el$
        
      # ------------------------
      # 5. ELisp: run ERT tests
      # ------------------------
      - id: elisp-ert
        name: Run ERT tests
        entry: emacs --batch -Q -l ert -l etc/dev-emacs-init/init.el -f ert-run-tests-batch-and-exit
        language: system
        files: ^etc/tests/.*\.el$

      # ------------------------
      # 6. Markdown link checking
      # ------------------------
      - id: lychee
        name: Lychee link checker
        entry: lychee
        language: system
        types: [markdown]
        args: ["--verbose"]

fixes formatting
  README.md
  dwin.el
  etc/_local-share-applications/net.local.dwin-down.desktop
  etc/_local-share-applications/net.local.dwin-emacs.desktop
  etc/_local-share-applications/net.local.dwin-firefox.desktop
  etc/_local-share-applications/net.local.dwin-left.desktop
  etc/_local-share-applications/net.local.dwin-right.desktop
  etc/_local-share-applications/net.local.dwin-up.desktop
  etc/_local-share-applications/net.local.dwin-zotero.desktop
  etc/bin/_emacs-key
  etc/bin/dwin-down
  etc/bin/dwin-emacs
  etc/bin/dwin-firefox
  etc/bin/dwin-left
  etc/bin/dwin-right
  etc/bin/dwin-up
  etc/bin/dwin-zotero
  etc/dev.md
Due: elisp-byte-compile, elisp-checkdoc, elisp-package-lint, trailing-whitespace, lychee

fix more formatting
  .gitignore
  README.md
  dwin.el
  etc/Makefile
  etc/dev.md
Due: elisp-byte-compile, elisp-checkdoc, elisp-package-lint, trailing-whitespace, lychee

bug fix in dwin--next-window-in-direction
  dwin.el
Due: elisp-byte-compile, elisp-checkdoc, elisp-package-lint, trailing-whitespace

make it work on somewhat older emacs, too (28.1+)
  README.md
  dwin-compat.el
  dwin.el
  etc/Makefile
  etc/bin-dev/cp-nonignored-git-files
  etc/dev.md
  etc/example-emacs-inits/03-dwin-via-package-emacs-before-29.1/init.el
  etc/example-emacs-inits/04-dwin-via-straight-emacs-before-29.1/init.el
Due: elisp-byte-compile, elisp-checkdoc, elisp-package-lint, trailing-whitespace, lychee

docs: mention to disable automatic key settings for generic X11 wms
  README.md
Due: lychee
